<%- include('partials/head') %>

    <%- include('partials/navbar') %>
      <h1>Your random number is: <%= rand %>
      </h1>
      <% if(rand % 2===0){ %>
        <h2>That is an even number!</h2>
        <% } else { %>
          <h2>That is an odd number!</h2>
          <% } %>
            <!-- This can also be done in a single line with the ternary operator -->
            <h3> That is an <%= rand%2===0 ? 'even' : 'odd' %> number! </h3>
            <%- include('partials/footer') %> 